.fill1{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}
.fill2{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}
.fill3{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}
.fill4{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}
.fill5{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}
.fill6{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}
.fill7{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}
.fill8{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}

.fill9{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}
.fill10{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}
.fill11{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}

.fill12{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}
.fill13{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}
.fill14{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}
.fill15{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}
.fill16{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}
.fill17{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}
.fill18{
    
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0.2%;
    border: 1px black solid;
    background-color: white;    
}

