.box {
    background-color: rgb(37, 201, 250);
    display: inline-block;
    padding: 5px;
}

.box img {
    width: 120px;
    height: 120px;
}

#image-list img {
    width: 120px;
    height: 120px;
}

.equip-slot-1 {
    background-color: rgb(37, 201, 250);
    display: inline-block;
    padding: 5px;
}

.equip-slot-2 {
    background-color: rgb(37, 201, 250);
    display: inline-block;
    padding: 5px;
}

.equip-slot-3 {
    background-color: rgb(37, 201, 250);
    display: inline-block;
    padding: 5px;
}

.weapon-list {
    background-color: lightgray;
    display: inline-block;
    padding: 20px;
}

.equip-weapon-1, .weapon {
    width: 120px;
    height: 120px;
}

.equip-weapon-2, .weapon {
    width: 120px;
    height: 120px;
}

.equip-weapon-3, .weapon {
    width: 120px;
    height: 120px;
}